@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-primary: #9792e4;
    --bg-color-secondary: #0084fd;
    --bg-color-secondary-light: #b5ddff;
    --bg-color-tertiary: #333333;
    --bg-color-quartiary: #fdc15f;
    --font-color-grey: #706e6e;

    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
}



.section {
    padding: 2rem 0rem;
}

.section-padding-top {
    padding-top: 5rem;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0rem 1rem;

    /* DEBUG */
    border: 1px dashed blue;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex {
    display: flex;
}

.column-direction {
    flex-direction: column;
}

.items-flex-end {
    align-items: flex-end;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}





/* colonne e card*/
.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc((100% / 3) - 1rem);
}

.col-2 {
    flex-basis: calc((100% / 3) * 2);
}

.card {
    border-radius: 20px;
    padding: 1.5rem;
    height: 100%;
}

.card-debug {
    /* DEBUG */
    border: 1px dashed green;
    min-height: 100px;
    background-color: yellow;
}

.card-bg-white {
    background-color: white;
}


.card-width-70 {
    width: 70%;
}



/* navbar della pagina */
header {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.menu-bars {
    align-items: center;
    display: none;
}

.menu, .logo {
    align-items: center;
}

.menu, .menu-list {
    display: flex;
}

.menu-list li {
    list-style-type: none;
    padding: 1rem;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    
}






/* bottoni */
.btn-default {
    border-radius: 20px;
    border: 0;
    padding: .5rem;
    background-color: white;
}

.btn-blue {
    background-color: var(--bg-color-secondary);
    color: white;
    padding: .5rem 3rem;
}


.btn-round {
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-primary);
    border-radius: 50%;
}


/* immagini e icone */
.widht-img {
    width: 100%;
}

.testimonial-box {
    width: 150px;
    border-radius: 50%;
    background-color: var(--bg-color-quartiary);
}

/* .testimonial-img {
    width: 100%;
    
} */

.xs-icons {
    margin: 0rem .3rem;
}

.md-icons {
    width: 50px;
    height: 50px;
    color: var(--bg-color-secondary);
    margin-bottom: 1rem;
}

.bar-icon-menu {
    color: white;
    width: 20px;
    height: 20px;
}



/* testi */
h4 {
    font-size: 1.2rem;
}

h2 {
    font-size: 2rem;
}

p {
    
    font-size: .8rem;
    line-height: 1.5rem;
}

h4,
p,
h2 {
    margin-bottom: 1.5rem;
}

.text-color-bg-primary {
    color: var(--bg-color-primary);
}

.text-color-bg-secondary {
    color: var(--bg-color-secondary);
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.font-bold-grey {
    font-weight: bold;
    color: var(--font-color-grey);
}



/* classi per le variabili */
.bg-color-primary {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.bg-color-secondary-light {
    background-color: var(--bg-color-secondary-light);
}

.bg-color-tertiary {
    background-color: var(--bg-color-tertiary);
}

.bg-color-quartiary {
    background-color: var(--bg-color-quartiary);
}




/* ******RESPONSIVE****** */
/* breakpoints: 
    576px - mobile
    768px - tablet
    992px - desktop
 */

@media screen and (max-width: 992px) {
    .container {
        width: calc(var(--bp-md) - 1rem);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 576px;
    }

    .menu {
        display: none;
    }

    .menu-bars {
        display: block;
    }

    .col-direction-column {
        flex-direction: column;
    }

    .col-md-full {
        flex-basis: 100%;
    }

    .col-md-half {
        flex-basis: calc((100% / 2) - 1rem);
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .col-sm-full {
        flex-basis: 100%;
    }
}