@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-primary: #9792e4;
    --bg-color-secondary: #0084fd;
    --bg-color-secondary-light: #b5ddff;
    --bg-color-tertiary: #333333;
    --bg-color-quartiary: #fdc15f;

    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
}



.section {
    padding: 2rem 0rem;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0rem 1rem;

    /* DEBUG */
    border: 1px dashed blue;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-direction {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}



/* colonne e card*/
.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc(100% / 3);
}

.col-2 {
    flex-basis: calc((100% / 3) * 2);
}

.card {
    border-radius: 20px;
}

.card-debug {
    /* DEBUG */
    border: 1px dashed green;
    min-height: 100px;
    background-color: yellow;
}


/* navbar della pagina */
.menu, .logo {
    align-items: center;
}

.menu, .menu-list {
    display: flex;
}

.menu-list li {
    list-style-type: none;
    padding: 1rem;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    
}



/* classi per le variabili */
.bg-color-primary {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.bg-color-secondary-light {
    background-color: var(--bg-color-secondary-light);
}

.bg-color-tertiary {
    background-color: var(--bg-color-tertiary);
}

.bg-color-quartiary {
    background-color: var(--bg-color-quartiary);
}



/* bottoni */
.btn-default {
    border-radius: 20px;
    border: 0;
    padding: .5rem;
}




/* ******RESPONSIVE****** */
/* breakpoints: 
    576px - mobile
    768px - tablet
    992px - desktop
 */

@media screen and (max-width: 992px) {
    .container {
        width: calc(var(--bp-md) - 1rem);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(var(--bp-sm) - 1rem);
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}