@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-primary: #9792e4;
    --bg-color-secondary: #0084fd;
    --bg-color-secondary-light: #b5ddff;
    --bg-color-tertiary: #333333;
    --bg-color-quartiary: #fdc15f;
}



.section {
    padding: 2rem 0rem;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0rem 1rem;

    /* DEBUG */
    border: 1px dashed blue;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.menu, .logo {
    align-items: center;
}

.menu, .menu-list {
    display: flex;
}

.menu-list li {
    list-style-type: none;
    padding: 1rem;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    
}


.bg-color-primary {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.bg-color-secondary-light {
    background-color: var(--bg-color-secondary-light);
}

.bg-color-tertiary {
    background-color: var(--bg-color-tertiary);
}

.bg-color-quartiary {
    background-color: var(--bg-color-quartiary);
}

